<% if current_user %>
  <div class="row user-root">
    <div class="col-md-6 col-md-offset-3 white text-center">
      <h1>Welcome</h1>
      <h2><%= current_user.email %></h2>
      <br>
      <h3>Access your images</h3>
      <%= link_to 'Images', new_image_path, class: 'btn btn-success btn-lg'%>
    </div>
  </div>
<% else %>
  <div class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="item active">
      </div>
      <div class="item">
      </div>
      <div class="item">
      </div>
    </div>
  </div>
  <div class="title">
    <h1>Welcome!</h1>
    <h2>Sign up to keep your digital memories safe in the cloud</h2>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Premium Plan</h3>
          <p class="price">$10</p>
        </div>
        <div class="panel-body">
          <ul>
            <li>Unlimited Image Uploads</li>
            <li>Responsive design</li>
            <li>Access anywhere</li>
          </ul>
        </div>
        <div class="panel-footer"><%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary sign-up' %></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Amaze Plan</h3>
          <p class="price">$20</p>
        </div>
        <div class="panel-body">
          <ul>
            <li>Unlimited Image Uploads</li>
            <li>Responsive design</li>
            <li>Access anywhere</li>
            <li>Unlimited projects</li>
          </ul>
        </div>
        <div class="panel-footer"><%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary sign-up' %></div>
      </div>
    </div>
  </div>




<% end %>